## Character Summary

| Character | Manufacturing (T/A/R/P) | Research (T/A/R/P) | Copying (T/A/R/P) | Invention (T/A/R/P) | ME (T/A/R/P) | TE (T/A/R/P) | Reactions (T/A/R/P) |
| --- | ---: | ---: | ---: | ---: | ---: | ---: | ---: |
{% for summary in summaries %}| {{ summary.installer_name }} | {{ summary.manufacturing.total }}/{{ summary.manufacturing.active }}/{{ summary.manufacturing.ready }}/{{ summary.manufacturing.paused }} | {{ summary.research.total }}/{{ summary.research.active }}/{{ summary.research.ready }}/{{ summary.research.paused }} | {{ summary.copying.total }}/{{ summary.copying.active }}/{{ summary.copying.ready }}/{{ summary.copying.paused }} | {{ summary.invention.total }}/{{ summary.invention.active }}/{{ summary.invention.ready }}/{{ summary.invention.paused }} | {{ summary.me.total }}/{{ summary.me.active }}/{{ summary.me.ready }}/{{ summary.me.paused }} | {{ summary.te.total }}/{{ summary.te.active }}/{{ summary.te.ready }}/{{ summary.te.paused }} | {{ summary.reactions.total }}/{{ summary.reactions.active }}/{{ summary.reactions.ready }}/{{ summary.reactions.paused }} |
{% endfor %}
