## Completed Jobs

| Character | Activity | Blueprint | Facility | Completed |
| --- | --- | --- | --- | --- |
{% for row in completed_jobs %}| {{ row.job.installer_name }} | {{ row.job.activity_name }} | {{ row.job.blueprint_name }} | {{ row.job.facility_name }} | {{ row.completed_date or row.end_date }} |
{% endfor %}
