## Delivered Jobs

| Character | Activity | Blueprint | Blueprint Location | Output Location | Facility | Delivered | Delivered By |
| --- | --- | --- | --- | --- | --- | --- | --- |
{% for row in context.status_tables.delivered %}| {{ row.job.installer_name }} | {{ row.job.activity_name }} | {{ row.job.blueprint_name }} | {{ row.job.blueprint_location_name }} | {{ row.job.output_location_name }} | {{ row.job.facility_name }} | {{ row.completed_date or row.end_date }} | {{ row.job.completed_character_name or "Unknown" }} |
{% endfor %}
